In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chicama,PE,2021-07-25 19:26:56,-7.8447,-79.1469,68.54,61,11,10.74
1,1,North Platte,US,2021-07-25 19:26:56,41.1239,-100.7654,87.33,59,1,1.99
2,2,Ushuaia,AR,2021-07-25 19:23:45,-54.8000,-68.3000,35.26,87,75,25.32
3,3,Takoradi,GH,2021-07-25 19:26:56,4.8845,-1.7554,75.83,77,25,10.78
4,4,Katsuura,JP,2021-07-25 19:26:57,35.1333,140.3000,80.11,86,29,11.12
...,...,...,...,...,...,...,...,...,...,...
544,544,Mayo,US,2021-07-25 19:29:55,38.8876,-76.5119,93.74,69,1,4.00
545,545,Eyl,SO,2021-07-25 19:29:55,7.9803,49.8164,77.86,70,4,23.04
546,546,Novyy Urengoy,RU,2021-07-25 19:29:56,66.0833,76.6333,58.24,73,100,11.54
547,547,Luganville,VU,2021-07-25 19:29:56,-15.5333,167.1667,76.03,90,85,1.92
548,548,Halifax,CA,2021-07-25 19:29:56,44.6453,-63.5724,76.89,60,32,4.00

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use you Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
#Heatmap of temperature
#Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?80

In [11]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Takoradi,GH,2021-07-25 19:26:56,4.8845,-1.7554,75.83,77,25,10.78
5,5,Guerrero Negro,MX,2021-07-25 19:26:57,27.9769,-114.0611,77.43,58,92,10.29
6,6,Rikitea,PF,2021-07-25 19:26:57,-23.1203,-134.9692,70.50,67,76,6.44
9,9,Ribeira Grande,PT,2021-07-25 19:26:58,38.5167,-28.7000,73.80,78,20,9.22
16,16,Terra Nova,BR,2021-07-25 19:27:01,-12.3667,-40.6667,79.72,31,16,12.84
22,22,Moerai,PF,2021-07-25 19:27:03,-22.4333,-151.3333,72.95,80,97,7.94
35,35,Miandrivazo,MG,2021-07-25 19:27:07,-19.5167,45.4667,75.27,46,93,4.68
37,37,Port-Gentil,GA,2021-07-25 19:27:07,-0.7193,8.7815,76.96,78,75,6.91
46,46,Kishtwar,IN,2021-07-25 19:27:10,33.3167,75.7667,73.31,95,100,2.24
47,47,Guozhen,CN,2021-07-25 19:27:11,34.3659,107.3590,77.02,81,99,4.00

In [12]:
preferred_cities_df.count()

City_ID       148
City          148
Country       146
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [13]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", ]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3         Takoradi      GH     75.83   4.8845   -1.7554
5   Guerrero Negro      MX     77.43  27.9769 -114.0611
6          Rikitea      PF     70.50 -23.1203 -134.9692
9   Ribeira Grande      PT     73.80  38.5167  -28.7000
16      Terra Nova      BR     79.72 -12.3667  -40.6667
22          Moerai      PF     72.95 -22.4333 -151.3333
35     Miandrivazo      MG     75.27 -19.5167   45.4667
37     Port-Gentil      GA     76.96  -0.7193    8.7815
46        Kishtwar      IN     73.31  33.3167   75.7667
47         Guozhen      CN     77.02  34.3659  107.3590

In [14]:
#Set parameters to search for a hotel.
params ={
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for teh params dictionary.
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude.
    base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Takoradi,GH,75.83,4.8845,-1.7554,Raybow International Hotel
5,Guerrero Negro,MX,77.43,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
6,Rikitea,PF,70.50,-23.1203,-134.9692,People ThankYou
9,Ribeira Grande,PT,73.80,38.5167,-28.7000,Quinta da Meia Eira
16,Terra Nova,BR,79.72,-12.3667,-40.6667,
...,...,...,...,...,...,...
540,Karpathos,GR,76.96,35.5070,27.2132,Alex
542,Birobidzhan,RU,71.01,48.8000,132.9500,Hotel Central (Vostok)
545,Eyl,SO,77.86,7.9803,49.8164,Amiin Hotel
547,Luganville,VU,76.03,-15.5333,167.1667,The Espiritu Hotel
548,Halifax,CA,76.89,44.6453,-63.5724,Hotel Halifax

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

In [20]:
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
#Add a heatmap of temperature fpor the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content)