## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,78.03,74,29,15.73,scattered clouds
1,1,Cap Malheureux,MU,-19.9842,57.6142,70.29,67,68,5.99,broken clouds
2,2,Garden City,US,42.3256,-83.3310,87.15,46,40,10.36,scattered clouds
3,3,Ponta Do Sol,PT,32.6667,-17.1000,75.70,83,31,2.28,scattered clouds
4,4,Mataura,NZ,-46.1927,168.8643,39.47,94,24,1.92,few clouds

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?78

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Cap Malheureux,MU,-19.9842,57.6142,70.29,67,68,5.99,broken clouds
3,3,Ponta Do Sol,PT,32.6667,-17.1000,75.70,83,31,2.28,scattered clouds
9,9,Iwanai,JP,42.9744,140.5089,75.81,85,44,3.89,scattered clouds
11,11,Norman Wells,CA,65.2820,-126.8329,62.64,67,75,12.66,smoke
13,13,Rikitea,PF,-23.1203,-134.9692,73.96,75,21,16.35,few clouds
15,15,Hasaki,JP,35.7333,140.8333,77.40,81,35,5.14,scattered clouds
18,18,Arkhara,RU,49.4212,130.0842,65.57,96,71,9.57,broken clouds
20,20,Jijiga,ET,9.3500,42.8000,69.30,54,95,16.51,overcast clouds
24,24,Sapele,NG,5.8941,5.6767,74.16,94,78,3.00,broken clouds
25,25,Krasnoyarskiy,RU,51.9650,59.8967,75.27,46,85,10.56,overcast clouds

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

WeatherPy_Database     276
City                   276
Country                275
Lat                    276
Lng                    276
Max Temp               276
Humidity               276
Cloudiness             276
Wind Speed             276
Current Description    276
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description","Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cap Malheureux,MU,70.29,broken clouds,-19.9842,57.6142,
3,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,
9,Iwanai,JP,75.81,scattered clouds,42.9744,140.5089,
11,Norman Wells,CA,62.64,smoke,65.2820,-126.8329,
13,Rikitea,PF,73.96,few clouds,-23.1203,-134.9692,
15,Hasaki,JP,77.40,scattered clouds,35.7333,140.8333,
18,Arkhara,RU,65.57,broken clouds,49.4212,130.0842,
20,Jijiga,ET,69.30,overcast clouds,9.3500,42.8000,
24,Sapele,NG,74.16,broken clouds,5.8941,5.6767,
25,Krasnoyarskiy,RU,75.27,overcast clouds,51.9650,59.8967,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"]= f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [31]:
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cap Malheureux,MU,70.29,broken clouds,-19.9842,57.6142,Pereybere Hotel & Spa
3,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,Hotel do Campo
9,Iwanai,JP,75.81,scattered clouds,42.9744,140.5089,いわない高原ホテル
11,Norman Wells,CA,62.64,smoke,65.2820,-126.8329,Heritage Hotel
13,Rikitea,PF,73.96,few clouds,-23.1203,-134.9692,People ThankYou
15,Hasaki,JP,77.40,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
18,Arkhara,RU,65.57,broken clouds,49.4212,130.0842,"Gostinitsa ""Arkhara"""
20,Jijiga,ET,69.30,overcast clouds,9.3500,42.8000,RAMAAS HOTEL
24,Sapele,NG,74.16,broken clouds,5.8941,5.6767,Movig Hotel & Suites
25,Krasnoyarskiy,RU,75.27,overcast clouds,51.9650,59.8967,
27,Pryyutivka,UA,73.18,broken clouds,48.7209,33.0708,Многоквартирный Дом по адресу: Войновское шосе...
29,Saint-Francois,FR,67.17,overcast clouds,46.4154,3.9054,Manoir Du Bonheur
33,Nikolskoye,RU,60.78,overcast clouds,59.7035,30.7861,Tourist House - Sablino
40,Souillac,MU,70.18,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
47,Noumea,NC,69.01,broken clouds,-22.2763,166.4572,Hôtel Le Lagon

In [32]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cap Malheureux,MU,70.29,broken clouds,-19.9842,57.6142,Pereybere Hotel & Spa
3,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,Hotel do Campo
9,Iwanai,JP,75.81,scattered clouds,42.9744,140.5089,いわない高原ホテル
11,Norman Wells,CA,62.64,smoke,65.2820,-126.8329,Heritage Hotel
13,Rikitea,PF,73.96,few clouds,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
667,Purwodadi,ID,73.60,broken clouds,-7.0868,110.9158,OYO 1620 Sion Family Residence
669,Tamandare,BR,73.63,scattered clouds,-8.7597,-35.1047,Pousada 100 Passos
671,Illapel,CL,68.50,scattered clouds,-31.6308,-71.1653,Hotel Londres
672,Mudbidri,IN,76.62,broken clouds,13.0833,74.9833,Hotel Navami Comforts
673,Porto Novo,BJ,76.17,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin

In [11]:
clean_hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,Hotel do Campo
9,Iwanai,JP,75.81,scattered clouds,42.9744,140.5089,いわない高原ホテル
13,Rikitea,PF,73.96,few clouds,-23.1203,-134.9692,People ThankYou
15,Hasaki,JP,77.40,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
24,Sapele,NG,74.16,broken clouds,5.8941,5.6767,Movig Hotel & Suites
27,Pryyutivka,UA,73.18,broken clouds,48.7209,33.0708,Многоквартирный Дом по адресу: Войновское шосе...
48,Biak,ID,75.61,overcast clouds,-0.9131,122.8766,Penginapan Kim
49,Salalah,OM,76.60,overcast clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
80,Naze,JP,77.56,overcast clouds,28.3667,129.4833,Amami Port Tower Hotel
81,Amuntai,ID,73.56,overcast clouds,-2.4177,115.2494,Hotel Balqis
86,Carutapera,BR,76.69,broken clouds,-1.1950,-46.0200,Lidera
88,Ayer Tawar,MY,77.29,few clouds,4.2954,100.7548,Ayer Tawar CK Homestay
96,Lagoa,PT,73.06,clear sky,39.0500,-27.9833,Casa Das Faias
99,Gboko,NG,72.25,moderate rain,7.3179,8.9951,Mavillah Apartment and Suites
112,Ca Mau,VN,77.97,overcast clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau

In [12]:
# 8a. Create the output File (CSV)
output_data_file ="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Deliverable 3. Create a Travel Itinerary Map.¶

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,Hotel do Campo
1,9,Iwanai,JP,75.81,scattered clouds,42.9744,140.5089,いわない高原ホテル
2,13,Rikitea,PF,73.96,few clouds,-23.1203,-134.9692,People ThankYou
3,15,Hasaki,JP,77.40,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
4,24,Sapele,NG,74.16,broken clouds,5.8941,5.6767,Movig Hotel & Suites

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

In [18]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"] == "Pensiunea Răsfăț") & (vacation_df["City"] == "Bunesti")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"] == "Pensiunea Răsfăț") & (vacation_df["City"] == "Bunesti")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"] == "Hotel la Favorita") & (vacation_df["City"] == "Mantua")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"] == "Italiana Hotels Florence") & (vacation_df["City"] == "Florence")]
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"] == "Hotel Antares") & (vacation_df["City"] == "Cattolica")]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
65,408,Bunesti,RO,75.58,overcast clouds,46.8333,27.9667,Pensiunea Răsfăț

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (pd.DataFrame(vacation_start).to_numpy()[0][5],pd.DataFrame(vacation_start).to_numpy()[0][6])
end = (pd.DataFrame(vacation_end).to_numpy()[0][5],pd.DataFrame(vacation_end).to_numpy()[0][6])
stop1 = (pd.DataFrame(vacation_stop1).to_numpy()[0][5],pd.DataFrame(vacation_stop1).to_numpy()[0][6])
stop2 = (pd.DataFrame(vacation_stop2).to_numpy()[0][5],pd.DataFrame(vacation_stop2).to_numpy()[0][6])
stop3 = (pd.DataFrame(vacation_stop3).to_numpy()[0][5],pd.DataFrame(vacation_stop3).to_numpy()[0][6])

start

(46.8333, 27.9667)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

start2end_via_stop1_stop2_stop3 = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], show_markers=True,
    stroke_color='blue', stroke_weight=3.0, stroke_opacity=1.0, travel_mode='DRIVING')
fig.add_layer(start2end_via_stop1_stop2_stop3)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,408,Bunesti,RO,75.58,overcast clouds,46.8333,27.9667,Pensiunea Răsfăț
1,581,Mantua,IT,74.88,clear sky,45.1667,10.7833,Hotel la Favorita
2,254,Florence,IT,72.64,clear sky,43.7667,11.2500,Italiana Hotels Florence
3,436,Cattolica,IT,77.90,scattered clouds,43.9575,12.7376,Hotel Antares

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

In [40]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))